/*
 * This file is NOT needed in order to use skrollr.
 * The demo uses it and it may help you as well.
 */


html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
}

.skrollable {
	position:fixed;
	z-index:100;
}

.skrollr-mobile .skrollable {
	position:absolute;
}

.skrollable .skrollable {
	position:absolute;
}

.skrollable .skrollable .skrollable {
	position:static;
}
